@import "tailwindcss";

@theme {
  /* --- Primary (Blue) --- */
  --color-primary-100: #dbedf8;
  --color-primary-200: #acccdf;
  --color-primary-300: #7eaecc;
  --color-primary-400: #478ab3;
  --color-primary-500: #0f6498;
  --color-primary-600: #0c507a;
  --color-primary-700: #093c5b;
  --color-primary-800: #072f47;
  --color-primary-900: #041d2c;

  /* --- Accent (Orange) --- */
  --color-accent-200: #fc4f27;
  --color-accent-300: #ac7366;
  --color-accent-400: #ef6d4c;
  --color-accent-500: #ec4f29;
  --color-accent-600: #bc3f21;
  --color-accent-700: #8d2f19;
  
  /* --- Accent 2 (Teal) --- */
  --color-accent2-200: #99f6e4;
  --color-accent2-300: #5eead4;
  --color-accent2-400: #2dd4bf;
  --color-accent2-500: #14b8a6;
  --color-accent2-600: #0d9488;
  --color-accent2-700: #0f766e;

  /* --- Accent 3 (Purple) --- */
  --color-accent3-100: #EDE9FE;
  --color-accent3-200: #DDD6FE;
  --color-accent3-300: #C4B5FD;
  --color-accent3-400: #A78BFA;
  --color-accent3-500: #8B5CF6;
  --color-accent3-600: #7C3AED;
  --color-accent3-700: #6D28D9;
  --color-accent3-800: #5B21B6;
  --color-accent3-900: #4C1D95;

  /* --- Accent 4 (Golden Orange) --- */
  --color-accent4-100: #FEF3C7;
  --color-accent4-200: #FDE68A;
  --color-accent4-300: #FCD34D;
  --color-accent4-400: #FBBF24;
  --color-accent4-500: #F59E0B;
  --color-accent4-600: #D97706;
  --color-accent4-700: #B45309;
  --color-accent4-800: #92400E;
  --color-accent4-900: #78350F;

  /* --- Monochrome --- */
  --color-white-500: #f3eee3;
  --color-gray-100: #d4d1cb;
  --color-gray-200: #cbc8c4;
  --color-gray-300: #9c9a94;
  --color-gray-400: #83817c;
  --color-gray-500: #65635f;
  --color-gray-700: #413f3c;
  --color-black-500: #1e1c1a;
  
  /* --- Semantic --- */
  --color-success-200: #b9f8cf;
  --color-success-500: #16a34a;
  --color-success-600: #14883f;
  --color-success-700: #0f602d;
  --color-warning-500: #f59e0b;
  --color-error-200: #ff5656;
  --color-error-300: #f04545;
  --color-error-400: #e32929;
  --color-error-500: #b92020;
  --color-error-600: #9f1c1c;
  --color-error-700: #7c1616;
  --color-error-800: #5c1111;
  --color-info-500: #0ea5e9;
}